{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">
        <div class="mb-3">
            <!-- <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="symbol" type="text" required> -->
            <!-- Need to add symbols drop down here -->
            <select name="symbol" class="form-control mx-auto w-auto" required>
                <option disabled selected value="">Select symbol</option>
                {% for item in symbols %}
                    <option value="{{ symbol }}">{{ item["symbol"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="number of shares" type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
